<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ts.mobilelab.goggles4u">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--
 <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    -->
    <application
        android:name=".core.GogglesManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="com.paypal.android.sdk.payments">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ProductListingActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductListingActivity"
            android:label="@string/title_activity_product_listing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ProductListingActivity" />
        </activity>
        <activity
            android:name=".TryOnActivity"
            android:label="@string/title_activity_try_on"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:theme="@style/AppFullScreenTheme" -->

        </activity>
        <activity
            android:name=".PrescriptionAddActivity"
            android:label="@string/title_activity_prescription"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrescriptionNextActivity"
            android:label="@string/title_activity_prescription_next"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAccountActivity"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForGotPswdActivity"
            android:label="@string/title_activity_for_got_pswd"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditAddress"
            android:label="@string/title_activity_check_out"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyOrderRowActivity"
            android:label="@string/title_activity_my_order_row"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoreCreditDataActivity"
            android:label="@string/title_activity_store_credit_data"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyOrderActivity"
            android:label="@string/title_activity_my_orders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewOrderActivity"
            android:label="@string/title_activity_view_order"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrescriptionsActivity"
            android:label="@string/title_activity_prescriptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditInformation"
            android:label="@string/title_activity_edit_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrescriptionView"
            android:label="@string/title_activity_prescription_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".NewFilterActivity"
            android:label="@string/title_activity_new_filter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SortingActivity"
            android:label="@string/title_activity_sorting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectAddressActivity"
            android:label="@string/title_activity_select_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderReviewActivity"
            android:label="@string/title_activity_order_review"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Checkout"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payment"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShippingActivity"
            android:label="@string/title_activity_shipping"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaypalActivity"
            android:label="@string/title_activity_paypal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CCDetailsActivity"
            android:label="@string/title_activity_ccdetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FavListActivity"
            android:label="@string/title_activity_fav_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpCenterActivity"
            android:label="@string/title_activity_help_center"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpRowActivity"
            android:label="@string/title_activity_help_row"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderCompleteActivity"
            android:label="@string/title_activity_order_complete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductListingNew"
            android:label="@string/title_activity_product_listing_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".UploadPrescriptionActivity"
            android:label="@string/title_activity_upload_prescription"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>